nav {
  background-image: url("/img/wall.png");
  background-position: center;
  background-repeat: repeat;
}
body{
    background-image: url("/img/cork.png");
    background-position: center;
    background-repeat: repeat;
    height:100vh; 
  }
  
.photo-placeholder{
  background-position: center;
  background-size: cover;
  height: 26rem;
}
.font-title{
  font-size: 70px;
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.close-button{
  z-index: 2;
  position: fixed;
  margin-top: 2rem;
  margin-left: 50%;
}